<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>JARETH - Jareth's Advises to Reduce efficiently This Habits</title>
  </head>
  <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid ">
        <a class="navbar-brand" href="{{ url_for('main') }}">JARETH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                {% if current_user %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('record_cigarette') }}">Record</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard') }}">Dashboard</a>
                  </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav">
                  <li class="nav-item">
                    <ul class="navbar-nav " aria-labelledby="navbarContent">
                      {% if current_user %}
                      <li>
                        <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                      </li>
                      {% else %}
                      <li>
                        <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a>
                      </li>
                      <li>
                        <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">Register</a>
                      </li>
                      {% endif %}
                    </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  </header>


  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="success_icon" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="danger_icon" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  
  <div class="container">
    <br/>
    {% for category, message in  get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="{{ category | title }}:"><use xlink:href="#{{ category }}_icon"/></svg>
      {{ message | safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </div>
  
  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>